#contend #chat #attache {
  display: block;
  width: calc(100% - 20px);
  height: 0;
  margin: 10px;
  position: absolute;
  overflow: hidden;
  bottom: 40px;
  background-color: #dddddd;
  border-radius: 10px 10px 0 0;
  transition: height 0.5s;
}
#contend #chat[attache="open"] #attache {
  height: 300px;
  bottom: 40px;
  transition: height 0.5s
}
#contend #chat #attache .heder {
  width: 100%;
  max-width: 500px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#contend #chat #attache .heder * {
  cursor: pointer;
}
#contend #chat #attache .heder .item {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
#contend #chat #attache .heder .item svg {
  fill: #000000
}
#contend #chat #attache .heder .item.selected {
  border-bottom: #00aaad solid 3px;
}

#contend #chat #attache .value {
  width: 100%;
  max-height: calc(100% - 35px);
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

#contend #chat #attache .value p {
  margin: 0;
  width: 100%;
  font-size: 14px;
}
#contend #chat #attache .value span {
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}
