* {
  box-sizing: border-box;
  font-family: 'PT Mono';
  font-size: 18px;
  cursor: default;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.loginform {
  padding: 150px 0;
  position: absolute;
  text-align: center;
  color: #ffffff;
  background-color:#37474f;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
 }
.loginform div {
   position: relative;
   bottom: 60px;
 }
.logintitle {
  font-size: 40px;
 }

#loginusername {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 300px;
  color: #ffffff;
  font-size: 38px;
  cursor: text;
  user-select: text;
}

@media only screen and (max-width: 850px) {
  #contend #info {
    width: 300px;
  }
  #contend #chat {
    width: calc(100% - 300px);
  }
}
