* {
  box-sizing: border-box;
  font-family: 'PT Mono';font-size: 18px;
  cursor: default;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loginform {
  padding: 150px 0;
  position: absolute;
  text-align: center;
  color: #ffffff;
  background-color:#37474f;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
 }
.loginform div {
   position: relative;
   bottom: 60px;
 }
.logintitle {
  font-size: 40px;
 }

#loginusername {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 300px;
  color: #ffffff;
  font-size: 38px;
  cursor: text;
  user-select: text;
}

#toolbar {
  width: 100%;
  height: 50px;
  padding: 8px;
  background-color: #00aaad;
  display: flex;
  justify-content: left;
  align-items: center;
}
#toolbar #icon {
  display: inline-block;
}
#toolbar #icon svg{
  width: 40px;
  height: 40px;
}
#toolbar #title {
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

#contend {
  width: 100%;
  height: calc(100% - 50px);
}

#contend #chat {
  width: calc(100% - 400px);
  height: 100%;
  display: inline-block;
  float: left;
  position: relative;
}
#contend #chat form {
  width: calc(100% - 20px);
  height: 40px;
  position: absolute;
  bottom: 0;
  margin: 10px;
  background-color: #999999;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#contend #chat form #input {
  width: calc(100% - 90px - 50px);
  padding: 0;
  border: none;
  background: none;
  color: #ffffff;
  font: 10px;
  margin: 10px;
  cursor: text;
  user-select: text;
}
#contend #chat form #send {
  display: none;
  width: 50px;
  height: 32px;
  padding: 0;
  border: none;
}
#contend #chat form label div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #00aaad;
  border-radius: 6px;
  position: relative;
  left: 15px;
  cursor: pointer;
}
#contend #chat form div * {
  cursor: pointer !important;
}

#contend #chat form #spezialinput {
  width: 50px;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: #dddddd;
  border-radius: 10px 0 0 10px;
}
#contend #chat form #spezialinput * {
  cursor: pointer;
}

#contend #chat #messages {
  width: 100%;
  height: calc(100% - 60px);
  padding: 10px;
  overflow: hidden auto;
}
#contend #chat #messages .message {
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  position: relative;
}
#contend #chat #messages .message:nth-child(2n) {background-color: #cccccc}
#contend #chat #messages .message .user::after {
  content: ": ";
  color: #000000;
  font-size: 18px;
}
#contend #chat #messages .message .text {
  user-select: text;
  cursor: text;
  font-size: 18px;
}
#contend #chat #messages .message .time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
}

#contend #info {
  width: 400px;
  height: 100%;
  display: inline-block;
  float: right;
  background-color: #eeeeee;
  padding: 30px;
}
#contend #info {
  width: 400px;
  height: 100%;
  display: inline-block;
  float: right;
  background-color: #eeeeee;
  padding: 30px;
}
#contend #info #room {
  margin: 0;
  font-size: 20px;
}
#contend #info #partnum {
  margin: 0;
  margin-top: 14px;
  font-size: 18px;
}


#contend #info #parts .part::before {
  width: 10px;
  height: 10px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>');
  position: relative;
  top: 5px;
  right: 5px;
}
#contend #info #parts .part {
  margin: 5px;
  font-size: 16px;
}

#contend #info #share {
  background-color: #7477b8;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#contend #info #email {
  background-color: #add58a;
  position: absolute;
  bottom: 20px;
  right: 80px;
}

.fab {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fab * {
  cursor: pointer !important;
}

.fab .tooltiptext {
  visibility: hidden;

  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  /*left: 50%;
  margin-left: -100px;
  width: 140px;*/
  opacity: 0;
  right: 0;
  transition: opacity 0.3s;
  font-size: 16px;
}

.fab:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
